@import "tailwindcss";

@layer components {
  .badge-role-admin {
    @apply bg-red-100 text-red-700 px-2 py-1 rounded-full text-xs font-semibold;
  }

  .badge-role-learner {
    @apply bg-blue-100 text-blue-700 border-blue-200 px-2 py-1 rounded-full text-xs font-semibold;
  }

  .badge-role-instructor {
    @apply bg-blue-100 text-blue-700 px-2 py-1 rounded-full text-xs font-semibold;
  }

  .badge-role-consultant {
    @apply bg-purple-100 text-purple-700 px-2 py-1 rounded-full text-xs font-semibold;
  }

  .badge-status-active {
    @apply bg-green-100 text-green-700 px-2 py-1 rounded-full text-xs font-semibold;
  }

  .badge-status-inactive {
    @apply bg-red-100 text-red-700 px-2 py-1 rounded-full text-xs font-semibold;
  }
}

/* Custom scrollbar cho riêng vùng nav */
nav.flex-1::-webkit-scrollbar {
    width: 5px; /* Độ rộng cực mỏng */
}

nav.flex-1::-webkit-scrollbar-track {
    background: transparent; 
}

nav.flex-1::-webkit-scrollbar-thumb {
    background: #ed4532; /* Màu slate-700 để tiệp với nền */
    border-radius: 5px;
}

nav.flex-1::-webkit-scrollbar-thumb:hover {
    background: #e6200a; /* Sáng lên một chút khi hover */
}